---
title: Justus-Constantin Weidhaus
layout: layouts/home.njk
description: Justus-Constantin Weidhaus is a Freelance IT Specialist with over 10 years of hands-on experience in the IT World. He has worked for large retail companies, first-class consultancies and market-leading big data corporation.
date: Last Modified
---
<div id="hero">
  <h1>I help you build the IT infrastructure for your business.</h1>
  <h2>Hi, I'm Constantin, Cloud Consultant & IT Specialist,</h2>
  <p>With over 10 years of hands-on experience in the IT World. I have worked for large retail companies, first-class consultancies and market-leading big data corporation. Driving your digital evolution through precise IT solutions and consultancy for your business. I specialise in Google Workspace, custom cloud-solutions and infrastructure installations. </p>
</div>
<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>

<section id="about">
  <h1>Hi, I'm Constantin, Freelance IT Specialist & Developer based in Berlin.</h1>
  <p>Brief context about me and what I do.</p>
</section>

<section id="services">
  <h2>Services</h2>
  <ul>
    <li>Google Workspace Management</li>
    <li>IT Services for Startups, Cafes, Restaurants, and more</li>
    <li>Development of Projects</li>
  </ul>
</section>

<section id="blog">
  <h2>Blog</h2>
  <p>Writing about current projects, Cloud topics, tutorials, and Google Workspace Tips / tutorials.</p>
  <ul>
    <li><a href="/blog/blog1.html">Blog Post 1</a></li>
    <li><a href="/blog/blog2.html">Blog Post 2</a></li>
    <!-- Add more blog links here -->
  </ul>
</section>