---
title: Justus-Constantin Weidhaus
layout: layouts/home.njk
description: Justus-Constantin Weidhaus is a Freelance IT Specialist with over 10 years of hands-on experience in the IT World. He has worked for large retail companies, first-class consultancies and market-leading big data corporation.
date: Last Modified
---
<div id="hero">
  <h2>Hi, I'm Constantin, Cloud Consultant & IT Specialist,</h2>
  <p>With over 10 years of hands-on experience in the IT World. I have worked for large retail companies, first-class consultancies and market-leading big data corporation. Driving your digital evolution through precise IT solutions and consultancy for your business. I specialise in Google Workspace, custom cloud-solutions and infrastructure installations. </p>
</div>
<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>